body {
	background-color: gainsboro;
}

p {
	font-size: 24px;
	color: white;
}

.stage {
	width: 820px;
	height: 685px;
  margin: 0 auto;
	text-align: center;
	background-color: #005500;
}

.hand {
  margin: 0 auto;
}

.card {
	width: 134px;
 	height: 190px;
	margin: 5px;
	padding: 5px;
	display: inline-block;
	background: url('deck.gif') -720px -800px;
}
